@page
@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MealSaver2._0.Pages.Canteen.EditMealPackage
@{
ViewData["Title"] = "Edit Meal Package";
}

<div class="container mt-5">
    <form method="post" class="needs-validation">
        <input asp-for="MealPackage.Id" type="hidden" value="@Model.MealPackage.Id"/>
        <span asp-validation-for="MealPackage.Id" class="text-danger"></span>
        <input asp-for="MealPackage.CanteenId" type="hidden" value="@Model.MealPackage.CanteenId"/>
        
        <div class="mb-3">
            <label asp-for="MealPackage.DescriptiveName" class="form-label">Descriptive Name</label>
            <input asp-for="MealPackage.DescriptiveName" class="form-control"/>
            <span asp-validation-for="MealPackage.DescriptiveName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Products</label>
            <select asp-for="MealPackage.SelectedProducts" class="form-control" multiple="multiple">
                @foreach (var product in Model.Products)
                {
                    <option value="@product.Id">@product.DescriptiveName</option>
                }
            </select>
            <span asp-validation-for="MealPackage.SelectedProducts" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MealPackage.PickupTimeTill" class="form-label">Pickup Time Till</label>
            <input asp-for="MealPackage.PickupTimeTill" type="datetime-local" class="form-control"/>
            <span asp-validation-for="MealPackage.PickupTimeTill" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MealPackage.Price" class="form-label">Price</label>
            <input asp-for="MealPackage.Price" type="number" step="0.01" class="form-control"/>
            <span asp-validation-for="MealPackage.Price" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MealPackage.MealType" class="form-label">Meal Type</label>
            <select asp-for="MealPackage.MealType" class="form-select">
                @foreach (var type in Enum.GetValues(typeof(MealType)))
                {
                    <option value="@type">@type</option>
                }
            </select>
            <span asp-validation-for="MealPackage.MealType" class="text-danger"></span>
        </div>

        <button type="submit" class="btn secondary-color text-white">Update Meal Package</button>
    </form>
</div>